/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

a, a:active, a:visited { color: inherit; }

::-moz-selection {
    background: #A39D87;
    text-shadow: none;
}

::selection {
    background: #A39D87;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ededed;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ededed;
    color: #000;
    padding: 0.2em 0;
}

th {
    text-align: left;
}
td, th {
    padding-left: 1em;
}

/*******************************************/
/* CSS TEMPLATE                            */
/* To be used with a reset, or Initializr  */
/* @author Amy Guy (rhiaro.co.uk)          */
/* @date 6th December 2011                 */
/* @last-updated 18th Mar 2013              */
/*******************************************/

/** 
    0.0 Accessibility
**/
    .no-css {
        /* This class hides stuff that needs to be around for screenreaders
         * or users with no CSS, but not in normal circumstances
         */
        position: absolute; left: -1000px;
    }

    @media screen and (min-width: 768px){
        .mob {
            display: none; visibility: hidden;
        }
    }

/** 
    1.0 Typography
**/

    body {
        font-size: 1em;
        line-height: 1.4;
        font-family: "Questrial", "Futura", Helvetica, Arial, sans-serif;
        text-align: left;
    }

    h1 { font-family: "Lobster", Times, serif; font-size: 3.6em; font-weight: normal; line-height: 0.8; text-align: center; margin-top: 0.1em;}
    h1 span { font-family: "Questrial", "Futura", Helvetica, Arial, sans-serif; text-transform: uppercase; display: block; font-size: 0.4em; font-weight: bold; line-height: 2;}
    h1 .over { letter-spacing: 3em; margin-right: -3em;}
    h1 .undr { letter-spacing: 1.2em; margin-right: -1.2em;}

    header a, header a:hover { text-decoration: none; }

    p, textarea, .bollocks h1, .bollocks h2, .bollocks h3, .bollocks h4, .bollocks h5 { 
        font-size: 1.6em;
        font-family: "Questrial", "Futura", Helvetica, Arial, sans-serif;
        text-align: left;}

    h2.h { font-size: 2.4em; font-weight: bold; font-family: "Questrial", "Futura", Helvetica, Arial, sans-serif; text-transform: uppercase; }

    p a {text-decoration: underline;}
    a { text-decoration: inherit; }
    a:hover { text-decoration: none; }A39D87

    nav { text-align: center; font-family: "Questrial", "Futura", Helvetica, Arial, sans-serif; letter-spacing:0.1em; }

    nav i { font-size: 2.4em; }

    .note {
      font-size: 1em;
      font-weight: bold;
      text-align: right;
    }

    .wee, footer {
      font-size: 0.8em;
    }

    .win, .fail {}
    ul.win, ul.fail { list-style-type: none;}

    .upp { text-transform: uppercase; }
    .low { text-transform: lowercase; }
    .cap { text-transform: capitalize; }
    .align-left { text-align: left;}
    .align-right { text-align: right;}
    .align-center { text-align: center;}

    button, .btn, .btn-big {
      text-align: center;
    }

    button a, .btn a, .btn-big a {
      text-decoration: none;
    }

    footer a {
        text-decoration: underline;
    }

/*  1.2     */
    @media screen and (min-width: 768px){
        /* Extra class for headers so user-added headers don't get included */ 
        .col-left .h {text-align:left;} 
        .col-left p {text-align:right;}
        .col-right .h {text-align:right;}
        .col-right p {text-align:left;}
    }

/*  1.3     */
    @media screen and (min-width: 1024px){}

/*  1.4     */
    @media screen and (min-width: 1200px){}


/** 
    2.0 Colors, shadows, borders
**/
    
    /* Borders */
      .win, .fail, .color1-border, .color2-border, .color3-border { border: 2px solid;}
      input, textarea { border: none; }

      .bollocks { border-bottom: 1px solid;}

      .tri-holder { width: 100%; display: inline-block;}
      .tri-up {
        width: 0px; height: 0px;
        display: inline-block;
        border-style: solid;
        border-width: 0 10px 10px 10px;
      } 
      .tri-l {
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 10px 20px 10px 0;
        display:none;
      }

      /*.bollocks:hover { opacity: 0.2; -moz-opacity: 0.2; -o-opacity: 0.2; -ms-opacity:0.2; -khtml-opacity:0.2; background-color: white;}*/
    
    /* Dark */
        .dark, body { color: #160b06; }
        .dark-bg{ background-color: #160b06; }
        .dark-texture, nav { background-color: #160b06; background-image: url('../img/bg_darkmurky.png'); background-repeat: repeat;}
        .dark-border { border-color: #160b06; }
        .dark-gradient {}
        .dark-hov:hover { color: #160b06; }
    /* Darker */
        .darker { color: #000; }
        .darker-bg{ background-color: #000; }
        .darker-texture { background-color: #000; }
        .darker-border { border-color: #000; }
        .darker-gradient {}
        .darker-hov:hover { color: #000; }

    /* Primary Color (mid murky brown) */
        .color1, h1 .over, h2.h{ color: #989277;}
        .color1-bg{ background-color: #A39D87;}
        .color1-texture, .bollocks:hover { background-color: #A39D87; background-image:url('../img/bg_midmurky.png'); background-repeat: repeat; }
        .color1-border, .bollocks{ border-color: #A39D87;}
        .color1-gradient {}
        .color1-hov:hover { color: #A39D87; }
        .color1-texturehov:hover { background-color: #A39D87; background-image:url('../img/bg_midmurky.png'); background-repeat: repeat; }
        
    /* Light */
        .light, nav, .bollocks:hover h2.h { color: #ededed; }
        .light-bg{ background-color: #ededed; }
        .light-texture, body {background-color: #ededed; background-image:url('../img/bg_lightmurky.png'); background-repeat: repeat;}
        .light-border {border-color: #ededed; }
        .light-gradient {}
        .light-hov:hover { color: #ededed; }
        .tri-up.light { border-color: transparent transparent #ededed transparent; }
        .tri-l.light { border-color: transparent #ededed transparent transparent; }
    /* Lighter */
        .lighter{ color: #fff; }
        .lighter-bg{ background-color: #fff; }
        .lighter-texture {}
        .lighter-border {border-color: #fff; }
        .lighter-gradient {}
        .lighter-hov:hover { color: #fff; }

    .note { color: silver; }

    .win {
      background-color: #E6EFC2;
      color:#264409;
      border-color:#C6D880;
    }

    .fail {
      background:#FBE3E4;
      color:#8a1f11;
      border-color:#FBC2C4;
    }

    .btn a, input.btn {
        border: 1px solid;
        border-radius: 10px;
    }


/** 
    3.0 Spacing / Grid
**/

    .wrapper { width: 100%; }
    .bollocks {min-height: 4.6em;}

    /* Grid */
    .w1of1, .w1of2, .w1of3, .w1of4, .w1of5,
    .w2of3, .w3of4, .w2of5, .w3of5, .w4of5 {
        width: 100%;
    }

    .inner { padding: 0.6em; }
    .unpad, h2 { padding: 0; margin: 0;}

    header { overflow: hidden;}

    h2.h { margin-bottom: -1.4em;}

    nav {
        width: 100%;
        max-width: 100%;
    }
    nav li { display: inline; }
    nav a {
        display: inline-block;
        padding: 0.8em;
    }
    nav ul li ul { display: none; } /* Hide submenus on small */
    nav i { vertical-align: middle !important;} /* Shut up, it's Font Awesome's fault */
    .right i {padding-left: 0.2em;}
    .left i {padding-right: 0.2em;}

    .btn { display: inline-block; margin: 0; padding: 0;}
    button {
      padding: 0.5em;
    }
    .btn a, .btn-big a {
      padding: 0.5em;
      display: block; width: 100%;
    }
    input.btn { padding: 0.5em; }

    input, textarea { padding: 0.2em; }

    label.neat {
        display: inline-block;
        width: 5.6em;
    }
    input.neat {
        display: inline-block;
        width: 75%;
    }
    label.neat-big {
        display: inline-block;
        width: 100%;
    }
    input.neat-big, textarea.neat-big, textarea.neat {
        display: inline-block;
        width: 90%;
    }
    textarea.neat, textarea.neat-big {
        height: 6em;
        opacity: 0.5;
        margin-top: 1.6em;
    }

    .inline { display: inline; }
    .right { float: right; }
    .left { float: left; }

    nav .left, nav .right { float: none;}

    .win, .fail {
      padding: 0.2em;
      display: block;
    }

/*  3.1     */
    @media screen and (min-width: 479px){

        nav .left { float: left; }
        nav .right { float: right; }

    }

/*  3.2     */
    @media screen and (min-width: 768px){

        .w1of2 { width: 50%; float: left; }
        .w1of3 { width: 33%; float: left; }
        .w1of4 { width: 25%; float: left; }
        .w1of5 { width: 20%; float: left; }
        .w2of3 { width: 66%; float: left; }
        .w3of4 { width: 75%; float: left; }
        .w2of5 { width: 40%; float: left; }
        .w3of5 { width: 60%; float: left; }
        .w4of5 { width: 80%; float: left; }

        .w1of3:nth-child(odd) { clear: none; }
        .w1of3:nth-child(3n-2) { clear: both; }

        .content { height: 100%; overflow-y: scroll;}
        .content .inner { padding-left: 32px; padding-top: 64px;}
        nav a { display: block; }

        .tri-l { margin-top: 0.8em;}

    }

/*  3.3     */
    @media screen and (min-width: 1024px){

        .wrapper { 
            width: 80%; max-width: 1000px; 
            margin-left: auto; margin-right: auto;
        }

    }

/*  3.4     */
    @media screen and (min-width: 1200px){}


/** 
    4.0 Images & video
**/

    header {
        background-image: url("../img/hr.png");
        background-repeat: no-repeat;
        background-position: 50% bottom;
    }

    .vid-holder {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
        text-align: center;
    }

    .vid-holder iframe,  
    .vid-holder object,  
    .vid-holder embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    /* Full width images on bigger than small screens are dumb. Reset this. */
    @media screen and (max-width: 478px){
      .w1of1 img, .w1of2 img, .w1of3 img, .w1of4 img, .w1of5 img,
      .w2of3 img, .w3of4 img, .w2of5 img, .w3of5 img, .w4of5 img {
        width: 100%;
      }
    }







/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}